<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <title>GOG Waste Simulation</title>
  </head>

<body>
        
<!-- Demo navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
    <div class="container"><a href="/" class="navbar-brand"> <b>GOG</b></a>
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a 
              href="/" 
              class="nav-link"
              >
              Home 
              <span class="sr-only">(current)</span></a>
            </li>
          <li class="nav-item">
            <a href="/map" 
            class="nav-link"
            >
            Map
            </a>
          </li>
          <!-- <li class="nav-item dropdown"><a id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Dropdown</a>
            <div aria-labelledby="navbarDropdown" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a>
              <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Something else here</a>
            </div>
          </li> -->
          <li class="nav-item">
            <a 
            href="/report" 
            tabindex="-1" 
            aria-disabled="false" 
            class="nav-link"
            >
            Analysis
           </a>
         </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- End -->


<!-- Background video -->
  <div class="video-background-holder">
    <div class="video-background-overlay"></div>
    <video 
      playsinline="playsinline" 
      autoplay="autoplay" 
      muted="muted" 
      loop="loop"
      >
          <source 
            src="img/23.mp4"
            type="video/mp4"
          >
    </video>
    <div class="video-background-content container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-4 bg-text">Plastic Waste Simulation in the</h1>
          <p class="display-4 bg-text">Gulf of Guinea</p>
          <!-- <p class="lead">
            Check the 
            <a href="/map" class="text-white">
                      <u>Simulation</u></a>
          </p> -->
          <a href="/map" class="btn btn-primary map-btn">Go to map</a>
        </div>
      </div>
    </div>
  </div>
<!-- End -->
<!--Main Navigation-->

<!--Main layout-->
<main class="mt-5">
  <div class="container">
    <!--Section: Content-->
    <section>
      <div class="row">
        <div class="col-md-6 gx-5 mb-4">
          <div
               class="bg-image hover-overlay ripple shadow-2-strong"
               data-mdb-ripple-color="light"
               >
            <img
                 src="img/coutries in gog.png"
                 class="img-fluid"
                 />
            <a href="#!">
              <div
                   class="mask"
                   style="background-color: rgba(251, 251, 251, 0.15)"
                   ></div>
            </a>
          </div>
        </div>

        <div class="col-md-6 gx-5 mb-4">
          <h4><strong>Facilis consequatur eligendi</strong></h4>
          <p class="text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            consequatur eligendi quisquam doloremque vero ex debitis
            veritatis placeat unde animi laborum sapiente illo possimus,
            commodi dignissimos obcaecati illum maiores corporis.
          </p>
          <p><strong>Doloremque vero ex debitis veritatis?</strong></p>
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
            itaque voluptate nesciunt laborum incidunt. Officia, quam
            consectetur. Earum eligendi aliquam illum alias, unde optio
            accusantium soluta, iusto molestiae adipisci et?
          </p>
        </div>
      </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />

    <!--Section: Content-->
    <section class="text-center">
      <h4 class="mb-5"><strong>Facilis consequatur eligendi</strong></h4>

      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div
                 class="bg-image hover-overlay ripple"
                 data-mdb-ripple-color="light"
                 >
              <img
                   src="img/Nigeria-plastic-trash-in-oceans1-min.png"
                   class="img-fluid"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.15)"
                     ></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Nylons</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make
                up the bulk of the card's content.
              </p>
              <!-- <a href="#!" class="btn btn-primary">Button</a> -->
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div
                 class="bg-image hover-overlay ripple"
                 data-mdb-ripple-color="light"
                 >
              <img
                   src="img/waste.png"
                   class="img-fluid"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.15)"
                     ></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Recylced plastics</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make
                up the bulk of the card's content.
              </p>
              <!-- <a href="#!" class="btn btn-primary">Button</a> -->
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div
                 class="bg-image hover-overlay ripple"
                 data-mdb-ripple-color="light"
                 >
              <img
                   src="img/GP0STR1T7_Medium_res-970xcenter-c-default.png"
                   class="img-fluid"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.15)"
                     ></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Single-use plastic waste</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make
                up the bulk of the card's content.
              </p>
              <!-- <a href="#!" class="btn btn-primary">Button</a> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />

    

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:GOG
    <a class="text-dark" href=""></a>
  </div>
  <!-- Copyright -->
</footer>
<!--Footer-->
      
    
    
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>